* {
	box-sizing: content-box;
}

body{

	background:white;
}

.box-row1{
	display: inline-block;
	background-color: #dadada;
	width: 300px;
	height: 300px;
	margin:20px;
	border: 1px solid black;
}

.box-row2{
	display: inline-block;
	background-color: #0000ff;
	width: 300px;
	height: 300px;
	margin:20px;
	border: 1px solid black;
}

.box-row3{
	display: inline-block;
	background-color: #ff0000;
	width: 300px;
	height: 300px;
	margin:20px;
	border: 1px solid black;
}

.box-row4{
	display: inline-block;
	background-color: #00ff00;
	width: 300px;
	height: 300px;
	margin:20px;
	border: 1px solid black;
}


#position-static{
	position: static;
	top:100px;		/* Notice this doesn't change the static position of the gray box*/
}



#position-relative{
	position: relative;
	top:100px;
}

#position-absolute{
	position: absolute;
	top:100px;
	display: inline-block;
	background-color: #ff0000;
	width: 300px;
	height: 300px;
	margin:20px;
	border: 1px solid black;
}

#position-fixed{
	position: fixed;
	top:100px;
	left: 100px;
	background-color: #ffffff;
	width: 300px;
	height: 300px;
	border: 3px solid #00ff00;
}

.horizontal-center{
	background-color: #0000ff;
	width: 300px;
	height: 300px;
	border: 3px solid #ff0000;
	margin: 100px auto;
}

